name: Run Examples
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test-examples:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Run in all these versions of Python
        python-version: [ "3.11" ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install
        run: pip install .
      - name: Run sine curves example
        run: |
          python -m examples.sine_curves.sinc_nas
          python -m examples.sine_curves.search
      - name: Run fashion MNIST example
        run: |
          python -m examples.fashion_mnist.train_fashion_mnist
          python -m examples.fashion_mnist.search_fashion_mnist
      - name: Run flops profiling
        run: |
          python -m examples.profile.profile_flops
      - name: Run latency profiling
        run: |
          python -m examples.profile.profile_latency
