name: Unit Tests
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4
      - name: install the latest version uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
          version: latest
          enable-cache: true
          cache-dependency-glob: "**/pyproject.toml"  
      # - name: create virtual environment
      #   run: uv venv --python ${{ matrix.python-version }}
      # - name: Install
      #   run: uv pip install ".[dev]"
      - name: Run pytest
        run: python -m pytest -vvv